
{{define "main"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>tesatasdfgasdfdsa</h1>
    <button id="brokerBtn" href="javascript:void(0);"  >
      test broker
    </button>
    <button id="authBrokerBtn" href="javascript:void(0);"  >
      Auth broker btn
    </button>
    </button>
    <button id="loggerBtn" href="javascript:void(0);"  >
      logger btn
    </button>
    <button id="mailerBtn" href="javascript:void(0);"  >
      mailer btn
    </button>
    {{template "page1"}} 
    <br></br>
     {{template "page2"}} 
    <br></br>
    {{template "page3"}} 
    <br></br>
    <ul>
      <li><a href="asdfkjasdfkjb"></a></li>
    </ul>
    <script src="script.js">
       
    </script>
  </body>
  </html>
  {{end}}